# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build outputs
dist/
build/
.out/
.next/
.cache/
.eslintcache
coverage/

# Envs e segredos
.env
.env.*
!.env.example

# Logs
logs/
*.log
*.log.*
log/

# IDEs/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
docker-data/
*.pid

# Prisma
# (Deixe as migrações versionadas; não ignore)
# prisma/migrations/

# Outros
tmp/
temp/
